*{
    background-color: rgba(144, 205, 205, 0.2);
    background-image: url(/Images/cat.jpg);
 /* background-image:url(/Images/cat.jpg); */
 /* background-repeat: repeat-x; */
 /* background-image: none; */
 /* background-size: contain; */
 /* background-size: cover; */
 /* background-size: auto; */
 background-repeat: no-repeat;
 /* background-position: center right; */
 /* background-position-x: center; */
 /* background-clip: border-box; */

 /* background-attachment: scroll; */
 /* background-attachment: fixed; */
 /* background-attachment: local; */
 
 
 
}

